@charset "UTF-8";
/* line 5, ../../../../../usr/local/var/rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/var/rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/var/rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/var/rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/var/rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/var/rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/var/rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/var/rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/var/rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/components/_extends.sass */
body, div, h1, h2, h3, h4, h5, h6, p, ol, ul, table, a, img {
  font-family: Raleway;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

/* line 14, ../sass/components/_extends.sass */
main p, main li {
  font: 300 18px/28px Raleway;
  list-style: none;
  margin: 20px 0;
}

/* line 30, ../sass/components/_extends.sass */
.footer-mentions p, .footer-mentions a {
  font-size: 14px;
  color: #999;
  font-style: italic;
}

/* line 38, ../sass/components/_extends.sass */
.btn-footer-list a, .btn-footer-list span {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
}

/* line 48, ../sass/components/_extends.sass */
.btn-footer-list a:before, .btn-footer-list span:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font: normal 40px/80px fontawesome;
  opacity: 1;
}

/* line 62, ../sass/components/_extends.sass */
.home-title h1, .home-title p {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  font-weight: 300;
}

/* line 74, ../sass/components/_extends.sass */
.showcase-item-title, .showcase-item-description {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 83, ../sass/components/_extends.sass */
input, textarea, select {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-family: Raleway;
  color: #656565;
  font-size: 14px;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 0;
  margin-top: 20px;
}

/* line 1, ../sass/components/_header.sass */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../images/bg_white_transparent.png) 0 0 repeat;
  height: 65px;
  z-index: 999;
  color: #fff;
  -moz-box-shadow: 0 1px 3px #ccc;
  -webkit-box-shadow: 0 1px 3px #ccc;
  box-shadow: 0 1px 3px #ccc;
}
@media (max-width: 600px) {
  /* line 1, ../sass/components/_header.sass */
  header {
    background: #fff;
  }
}
/* line 15, ../sass/components/_header.sass */
header .logo {
  position: absolute;
  left: 20px;
  top: 5px;
  width: 83px;
  margin: 0;
}

/* line 23, ../sass/components/_header.sass */
.main-nav {
  overflow: hidden;
  margin-left: 100px;
}
/* line 27, ../sass/components/_header.sass */
.main-nav li {
  float: left;
  list-style: none;
  display: table;
  height: 65px;
}
@media (max-width: 600px) {
  /* line 27, ../sass/components/_header.sass */
  .main-nav li {
    height: auto;
  }
}
/* line 36, ../sass/components/_header.sass */
.main-nav li a {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
  box-sizing: border-box;
  font: 600 14px/20px Raleway;
  text-align: center;
  color: #999;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  /* line 36, ../sass/components/_header.sass */
  .main-nav li a {
    display: block;
    text-align: center;
  }
}
/* line 53, ../sass/components/_header.sass */
.main-nav li a span {
  display: block;
}
@media (max-width: 600px) {
  /* line 53, ../sass/components/_header.sass */
  .main-nav li a span {
    display: inline;
  }
}
/* line 59, ../sass/components/_header.sass */
.main-nav li a:hover {
  background: #fff;
  color: #73cff4;
}

@media(max-width: 1200px) {
  /* line 65, ../sass/components/_header.sass */
  .main-nav {
    margin-left: 80px;
  }
  /* line 67, ../sass/components/_header.sass */
  .main-nav li a {
    padding: 20px 10px;
  }
}
@media(max-width: 1100px) {
  /* line 73, ../sass/components/_header.sass */
  .main-nav {
    margin-left: 70px;
  }
  /* line 75, ../sass/components/_header.sass */
  .main-nav li a {
    padding: 20px 5px;
  }
}
/* line 80, ../sass/components/_header.sass */
.user-nav {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #73cff4;
}
/* line 86, ../sass/components/_header.sass */
.user-nav .user-nav-toggle {
  display: block;
  font: 600 16px/24px Raleway;
  color: #fff;
  padding: 20px 20px 20px 70px;
  box-sizing: border-box;
  background: #73cff4;
  width: 240px;
  height: 65px;
  text-transform: uppercase;
}
/* line 97, ../sass/components/_header.sass */
.user-nav .user-nav-toggle:before {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 40px;
  margin-top: -20px;
  color: #fff;
  content: "ï€‡";
  font: normal 36px/36px FontAwesome;
  text-align: center;
}
/* line 108, ../sass/components/_header.sass */
.user-nav .user-nav-toggle.active:after {
  content: "ïƒ˜";
}
/* line 111, ../sass/components/_header.sass */
.user-nav ul {
  display: none;
}
/* line 113, ../sass/components/_header.sass */
.user-nav ul.active {
  display: block;
}
/* line 116, ../sass/components/_header.sass */
.user-nav ul li {
  list-style: none;
}
/* line 118, ../sass/components/_header.sass */
.user-nav ul li a {
  display: block;
  position: relative;
  background: #73cff4;
  width: 100%;
  font: 600 16px/24px Raleway;
  color: #fff;
  padding: 20px 20px 20px 60px;
  box-sizing: border-box;
  transition: all 300ms linear;
}
/* line 130, ../sass/components/_header.sass */
.user-nav ul li a:before {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 16px;
  margin-top: -8px;
  color: #fff;
  content: "ïƒ—";
  font: normal 16px/16px FontAwesome;
  text-align: center;
}
/* line 141, ../sass/components/_header.sass */
.user-nav ul li a.sign-in:before {
  content: "ï‚";
}
/* line 144, ../sass/components/_header.sass */
.user-nav ul li a.sign-up:before {
  content: "ï„";
}
/* line 150, ../sass/components/_header.sass */
.user-nav a {
  transition: all 300ms linear;
}
/* line 153, ../sass/components/_header.sass */
.user-nav a:hover {
  background: #43bef0;
}

/* line 158, ../sass/components/_header.sass */
.responsive-nav-toggle {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background: #73cff4;
  width: 70px;
  height: 65px;
}
/* line 166, ../sass/components/_header.sass */
.responsive-nav-toggle:before {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 40px;
  margin-top: -20px;
  color: #fff;
  content: "ïƒ‰";
  font: normal 28px/36px FontAwesome;
  text-align: center;
}
/* line 177, ../sass/components/_header.sass */
.responsive-nav-toggle.close:before {
  content: "ï€";
}

@media(max-width: 1050px) {
  /* line 182, ../sass/components/_header.sass */
  .main-nav {
    display: block;
    margin-left: 0;
    position: fixed;
    top: 65px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 0.6s;
  }
  /* line 197, ../sass/components/_header.sass */
  .main-nav.visible {
    transform: translateX(0);
  }
  /* line 201, ../sass/components/_header.sass */
  .main-nav li {
    float: none;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    border-top: 1px solid #eee;
  }
  /* line 206, ../sass/components/_header.sass */
  .main-nav li a {
    text-align: center;
    color: #73cff4;
  }

  /* line 212, ../sass/components/_header.sass */
  .responsive-nav-toggle {
    display: block;
  }

  /* line 215, ../sass/components/_header.sass */
  header .logo {
    position: absolute;
    left: 50%;
    width: 47px;
    margin-left: -26px;
  }

  /* line 221, ../sass/components/_header.sass */
  .user-nav .user-nav-toggle {
    width: 70px;
    padding: 20px;
  }
  /* line 224, ../sass/components/_header.sass */
  .user-nav .user-nav-toggle span {
    display: none;
  }
}
/* line 1, ../sass/components/_footer.sass */
.footer-logos {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
  border-top: 1px solid #eee;
}
/* line 6, ../sass/components/_footer.sass */
.footer-logos img {
  vertical-align: middle;
  margin: 0 20px;
}

/* line 11, ../sass/components/_footer.sass */
.footer-links {
  position: relative;
  background: #f3f3f3;
  text-align: center;
  height: 65px;
}
/* line 16, ../sass/components/_footer.sass */
.footer-links ul {
  overflow: hidden;
  text-align: center;
}
/* line 19, ../sass/components/_footer.sass */
.footer-links ul li {
  display: inline-block;
  list-style: none;
}
/* line 22, ../sass/components/_footer.sass */
.footer-links ul li a {
  display: block;
  font: 600 14px/20px Raleway;
  color: #999;
  padding: 20px;
  text-transform: uppercase;
}
/* line 28, ../sass/components/_footer.sass */
.footer-links ul li a:hover {
  background: #eee;
}
/* line 31, ../sass/components/_footer.sass */
.footer-links .btn-scrolltop {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 70px;
  font: 600 14px/20px Raleway;
  color: #fff;
  padding: 20px;
  background: #ccc;
  box-sizing: border-box;
  transition: all 300ms linear;
}
/* line 46, ../sass/components/_footer.sass */
.footer-links .btn-scrolltop:before {
  display: inline-block;
  font: normal 24px/24px fontawesome;
  content: "ï„†";
}
/* line 51, ../sass/components/_footer.sass */
.footer-links .btn-scrolltop:hover {
  background: #bbb;
}

/* line 54, ../sass/components/_footer.sass */
.footer-buttons {
  text-align: center;
  padding: 40px 0;
  background: #f9f9f9;
}
/* line 59, ../sass/components/_footer.sass */
.footer-buttons .col-2:first-child {
  border-right: 1px solid #eee;
}
/* line 62, ../sass/components/_footer.sass */
.footer-buttons .col-2:last-child {
  border-left: 1px solid #eee;
}

/* line 65, ../sass/components/_footer.sass */
.footer-btn {
  display: inline-block;
  position: relative;
  text-align: left;
  padding: 10px;
  padding-left: 60px;
  color: #fff;
}
/* line 72, ../sass/components/_footer.sass */
.footer-btn h5 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
/* line 77, ../sass/components/_footer.sass */
.footer-btn:before {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -15px;
  font: normal 30px/30px fontawesome;
  content: "ï‚š";
}
/* line 85, ../sass/components/_footer.sass */
.footer-btn iframe {
  width: 150px;
  height: 21px;
  border: none;
}

/* line 90, ../sass/components/_footer.sass */
.footer-mentions {
  padding: 20px 0;
  background: #eee;
}

/* line 1, ../sass/components/_layout.sass */
html {
  height: 100%;
  width: 100%;
}

/* line 5, ../sass/components/_layout.sass */
body {
  width: 100%;
  height: 100%;
  font-family: Raleway, Helvetica Neue, Arial sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: #111;
  background: #fff;
}

/* line 19, ../sass/components/_layout.sass */
.main-container {
  padding-top: 66px;
}
/* line 22, ../sass/components/_layout.sass */
.main-container.home-page {
  padding-top: 0;
}

/* line 25, ../sass/components/_layout.sass */
.center-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  -moz-box-sizing: bs;
  -webkit-box-sizing: bs;
  box-sizing: bs;
}
/* line 31, ../sass/components/_layout.sass */
.center-container.small {
  max-width: 1000px;
}
/* line 34, ../sass/components/_layout.sass */
.center-container.mini {
  max-width: 700px;
}

/* line 37, ../sass/components/_layout.sass */
.col-container {
  overflow: hidden;
}

/* line 40, ../sass/components/_layout.sass */
.col-2 {
  float: left;
  position: relative;
  width: 50%;
  box-sizing: border-box;
}

/* line 47, ../sass/components/_layout.sass */
.col-3 {
  float: left;
  width: 33.33333%;
  box-sizing: border-box;
  padding: 0 20px;
}

/* line 54, ../sass/components/_layout.sass */
.col-4 {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 0 20px;
}

/* line 61, ../sass/components/_layout.sass */
.col-6 {
  float: left;
  width: 66.66666%;
  box-sizing: border-box;
  padding: 0 20px;
}

/* line 68, ../sass/components/_layout.sass */
.bg-grey {
  background: #f3f3f3;
}

/* line 71, ../sass/components/_layout.sass */
.bg-blue {
  background: #eaf7fc;
}
/* line 74, ../sass/components/_layout.sass */
.bg-blue .quote p {
  margin: 0;
}

/* line 77, ../sass/components/_layout.sass */
.bg-dark-blue {
  background: #73cff4;
}

/* line 80, ../sass/components/_layout.sass */
.section {
  padding: 20px 0;
}

/* line 1, ../sass/components/_buttons.sass */
.btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px;
}
/* line 7, ../sass/components/_buttons.sass */
.btn:active {
  top: 2px;
}

/* line 11, ../sass/components/_buttons.sass */
.btn-ghost {
  padding: 15px 20px;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  font: 600 18px/24px Raleway;
  transition: opacity 300ms linear;
  opacity: 0.7;
}
/* line 21, ../sass/components/_buttons.sass */
.btn-ghost:hover {
  opacity: 1;
}

/* line 24, ../sass/components/_buttons.sass */
.btn-big {
  font: 600 24px/30px Raleway;
}

/* line 27, ../sass/components/_buttons.sass */
.btn-facebook {
  background: #8b9dc3;
}
/* line 29, ../sass/components/_buttons.sass */
.btn-facebook:before {
  content: "ï‚š";
}

/* line 32, ../sass/components/_buttons.sass */
.btn-twitter {
  background: #72b0cf;
}
/* line 34, ../sass/components/_buttons.sass */
.btn-twitter:before {
  content: "ï‚™";
}

/* line 37, ../sass/components/_buttons.sass */
.btn-footer-list {
  list-style-type: none;
  margin-top: 20px;
}
/* line 40, ../sass/components/_buttons.sass */
.btn-footer-list li {
  display: inline-block;
  margin: 0 5px;
}
/* line 49, ../sass/components/_buttons.sass */
.btn-footer-list a:hover:before {
  opacity: 0.8;
}
/* line 59, ../sass/components/_buttons.sass */
.btn-footer-list .facebook {
  background: #3b5998;
}
/* line 61, ../sass/components/_buttons.sass */
.btn-footer-list .facebook:before {
  content: "ï‚š";
}
/* line 65, ../sass/components/_buttons.sass */
.btn-footer-list .twitter {
  background: #67a7c7;
}
/* line 67, ../sass/components/_buttons.sass */
.btn-footer-list .twitter:before {
  content: "ï‚™";
}
/* line 71, ../sass/components/_buttons.sass */
.btn-footer-list .appstore {
  background: #656565;
}
/* line 73, ../sass/components/_buttons.sass */
.btn-footer-list .appstore:before {
  content: "ï…¹";
}
/* line 77, ../sass/components/_buttons.sass */
.btn-footer-list .googleplay {
  background: #91c448;
}
/* line 79, ../sass/components/_buttons.sass */
.btn-footer-list .googleplay:before {
  content: "ï…»";
}
/* line 83, ../sass/components/_buttons.sass */
.btn-footer-list .windowsstore {
  background: #00bcf2;
}
/* line 85, ../sass/components/_buttons.sass */
.btn-footer-list .windowsstore:before {
  content: "ï…º";
}

/* line 4, ../sass/components/_typography.sass */
h2 {
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}

/* line 10, ../sass/components/_typography.sass */
h3 {
  font: 300 26px/38px Raleway;
  margin: 40px 0;
}

/* line 36, ../sass/components/_typography.sass */
a {
  text-decoration: none;
  color: #73cff4;
}

a.know-more-link {
  text-decoration: underline;
  color: #000000;
}

/* line 44, ../sass/components/_typography.sass */
strong, b {
  font-weight: bold;
}

/* line 51, ../sass/components/_typography.sass */
main li {
  position: relative;
  padding-left: 30px;
}
/* line 57, ../sass/components/_typography.sass */
main ul li:before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "ï…¸";
  width: 20px;
  height: 10px;
  color: #73cff4;
  font: normal 18px/18px FontAwesome;
}
/* line 67, ../sass/components/_typography.sass */
main ol li {
  padding-left: 50px;
}
/* line 70, ../sass/components/_typography.sass */
main ol li .rank {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #73cff4;
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
/* line 83, ../sass/components/_typography.sass */
main .quote p {
  margin: 0;
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/font_awesome/fontawesome-webfont.eot?#iefix&v=4.1.0) format("embedded-opentype"), url(../fonts/font_awesome/fontawesome-webfont.woff?v=4.1.0) format("woff"), url(../fonts/font_awesome/fontawesome-webfont.ttf?v=4.1.0) format("truetype"), url(../fonts/font_awesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 92, ../sass/components/_typography.sass */
.align-center {
  text-align: center;
}

/* line 95, ../sass/components/_typography.sass */
.page-title {
  text-align: center;
  background: #73cff4;
  color: #fff;
  padding: 40px 0;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
}
/* line 104, ../sass/components/_typography.sass */
.page-title.icon-top:before {
  color: #fff;
}
@media (max-width: 600px) {
  /* line 95, ../sass/components/_typography.sass */
  .page-title {
    font-size: 24px;
    line-height: 34px;
    padding: 20px 0;
  }
}

/* line 112, ../sass/components/_typography.sass */
.highlight {
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
}
@media (max-width: 600px) {
  /* line 112, ../sass/components/_typography.sass */
  .highlight {
    font-size: 18px;
    line-height: 28px;
  }
}

/* line 121, ../sass/components/_typography.sass */
.section-title {
  color: #73cff4;
  font-weight: bold;
  margin: 20px 0 40px;
  text-transform: none;
  font-size: 30px;
  line-height: 40px;
}
@media (max-width: 600px) {
  /* line 121, ../sass/components/_typography.sass */
  .section-title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}

/* line 134, ../sass/components/_typography.sass */
.conclusion {
  padding: 20px;
  border: 1px dashed #73cff4;
  font-weight: bold;
}

/* line 1, ../sass/components/_form.sass */
form {
  position: relative;
  padding-right: 150px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/components/_form.sass */
input[type="email"] {
  padding: 10px;
  background: #fff;
  border: 1px solid #eee;
  color: #73cff4;
  width: 400px;
  font: 500 18px/24px Raleway;
  border-radius: 3px 0 0 3px;
  outline: none;
}
/* line 19, ../sass/components/_form.sass */
input[type="email"]:focus {
  border: 1px solid #73cff4;
}

/* line 24, ../sass/components/_form.sass */
input:focus {
  border: 1px solid #73cff4;
  outline: none;
}

/* line 29, ../sass/components/_form.sass */
textarea {
  height: 150px;
}
/* line 32, ../sass/components/_form.sass */
textarea:focus {
  border: 1px solid #73cff4;
  outline: none;
}

/* line 37, ../sass/components/_form.sass */
select {
  padding: 10px;
  background: transparent;
  text-transform: uppercase;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 43, ../sass/components/_form.sass */
select:focus {
  border: 1px solid #73cff4;
  outline: none;
}

/* line 48, ../sass/components/_form.sass */
.select-container {
  background: #fff url(../images/select_cursor.png) right 10px center no-repeat;
}

/* line 51, ../sass/components/_form.sass */
label {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
}
/* line 55, ../sass/components/_form.sass */
label span {
  color: #73cff4;
}

/* line 59, ../sass/components/_form.sass */
.field {
  margin: 20px 0;
}

/* line 62, ../sass/components/_form.sass */
.form-error {
  display: none;
  padding: 10px;
  background: #fabcbb;
  color: #d2242c;
}
/* line 67, ../sass/components/_form.sass */
.form-error.visible {
  display: block;
}

/* line 71, ../sass/components/_form.sass */
.response {
  display: none;
}
/* line 73, ../sass/components/_form.sass */
.response.visible {
  display: block;
}

/* line 76, ../sass/components/_form.sass */
.form-actions .btn {
  border-radius: 3px;
  cursor: pointer;
}

/* line 1, ../sass/components/_swiper.sass */
.swiper-container {
  margin: 0 auto;
  height: 100%;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

/* line 10, ../sass/components/_swiper.sass */
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
}

/* line 23, ../sass/components/_swiper.sass */
.swiper-slide {
  float: left;
  position: relative;
  text-align: center;
  background: #fff;
  height: 100%;
  font: 500 18px/24px Raleway;
}
/* line 30, ../sass/components/_swiper.sass */
.swiper-slide .center-container {
  height: 100%;
}
/* line 33, ../sass/components/_swiper.sass */
.swiper-slide p {
  display: table-cell;
  height: 100%;
  padding-left: 40px;
  vertical-align: middle;
  text-align: left;
  color: #656565;
  font: 300 32px/40px Raleway;
}
/* line 41, ../sass/components/_swiper.sass */
.swiper-slide p span {
  vertical-align: middle;
}

/* line 44, ../sass/components/_swiper.sass */
.swiper-slide-contents {
  display: table;
  width: 100%;
  height: 100%;
  padding: 40px 200px;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: left;
}

/* line 55, ../sass/components/_swiper.sass */
.swiper-controls {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 30px;
  margin-top: -20px;
  font: normal 40px/40px FontAwesome;
  color: #ccc;
  z-index: 2;
}
/* line 64, ../sass/components/_swiper.sass */
.swiper-controls.prev {
  left: 40px;
}
/* line 66, ../sass/components/_swiper.sass */
.swiper-controls.prev:before {
  display: block;
  content: "ï„„";
}
/* line 70, ../sass/components/_swiper.sass */
.swiper-controls.next {
  right: 40px;
  text-align: right;
}
/* line 73, ../sass/components/_swiper.sass */
.swiper-controls.next:before {
  content: "ï„…";
}

/* line 76, ../sass/components/_swiper.sass */
.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

/* line 81, ../sass/components/_swiper.sass */
.next-section {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 86, ../sass/components/_swiper.sass */
.btn-next-section {
  color: #fff;
  padding-bottom: 30px;
  font-size: 24px;
}
/* line 90, ../sass/components/_swiper.sass */
.btn-next-section:after {
  position: absolute;
  bottom: 0;
  width: 40px;
  left: 50%;
  margin-left: -20px;
  color: #fff;
  font: normal 32px/32px FontAwesome;
  content: "ï„‡";
}

/* line 1, ../sass/components/_cookie_bar.sass */
#cookie-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: 340px;
  z-index: 10;
  box-sizing: border-box;
}
/* line 12, ../sass/components/_cookie_bar.sass */
#cookie-bar p {
  padding-bottom: 40px;
}

/* line 16, ../sass/components/_cookie_bar.sass */
.cb-enable {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 5px 10px;
  background: #73cff4;
  color: #fff;
  transition: all 300ms linear;
}
/* line 25, ../sass/components/_cookie_bar.sass */
.cb-enable:hover {
  background: #43bef0;
}

@media(max-width: 600px) {
  /* line 30, ../sass/components/_cookie_bar.sass */
  #cookie-bar {
    width: 100%;
  }
}
/* line 1, ../sass/components/_overlay.sass */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  overflow: auto;
}
/* line 11, ../sass/components/_overlay.sass */
.overlay.visible {
  display: block;
}
/* line 14, ../sass/components/_overlay.sass */
.overlay .logo {
  float: left;
  margin: 0;
  background: #fff;
  padding: 5px 20px;
  border-bottom: 1px solid #73cff4;
  margin-right: 20px;
}

/* line 23, ../sass/components/_overlay.sass */
.overlay-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 28, ../sass/components/_overlay.sass */
.overlay-container {
  display: table-cell;
  vertical-align: middle;
}

/* line 32, ../sass/components/_overlay.sass */
.overlay-contents {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  padding: 0;
  background: #f9f9f9;
  color: #656565;
  overflow: auto;
  border: 1px solid #333;
}
/* line 41, ../sass/components/_overlay.sass */
.overlay-contents h2 {
  padding: 22px;
  margin: 0;
  color: #fff;
  background: #73cff4;
}
/* line 47, ../sass/components/_overlay.sass */
.overlay-contents h3 {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 0;
}
/* line 53, ../sass/components/_overlay.sass */
.overlay-contents p {
  font-size: 16px;
  margin: 20px 0;
}
/* line 57, ../sass/components/_overlay.sass */
.overlay-contents .separator {
  height: 17px;
  border-bottom: 1px solid #eee;
  text-align: center;
  margin: 20px 0 30px;
}
/* line 62, ../sass/components/_overlay.sass */
.overlay-contents .separator span {
  display: inline-block;
  padding: 5px;
  background: #f9f9f9;
  color: #73cff4;
}
/* line 70, ../sass/components/_overlay.sass */
.overlay-contents .col-2:first-child {
  padding-right: 10px;
}
/* line 73, ../sass/components/_overlay.sass */
.overlay-contents .col-2:last-child {
  padding-left: 10px;
}

/* line 78, ../sass/components/_overlay.sass */
.overlay-contents-wrapper {
  padding: 20px 20px 0 20px;
  border-bottom: 4px solid #73cff4;
}

/* line 82, ../sass/components/_overlay.sass */
.btn-close {
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 999;
}
/* line 87, ../sass/components/_overlay.sass */
.btn-close:before {
  content: "ï€";
  font-family: FontAwesome;
  font-size: 20px;
  color: #fff;
}

/* line 1, ../sass/components/_icons.sass */
.icon-top {
  position: relative;
  padding-top: 100px;
}
/* line 4, ../sass/components/_icons.sass */
.icon-top:before {
  position: absolute;
  top: 20px;
  width: 100px;
  height: 30px;
  text-align: center;
  left: 50%;
  margin-left: -50px;
  color: #73cff4;
  font: normal 62px/62px FontAwesome;
}

/* line 15, ../sass/components/_icons.sass */
.icon-money:before {
  content: "ï‡€";
}

/* line 18, ../sass/components/_icons.sass */
.icon-student:before {
  content: "ï‚";
}

/* line 21, ../sass/components/_icons.sass */
.icon-mobile:before {
  content: "ï„‹";
  font-size: 80px;
}

/* line 25, ../sass/components/_icons.sass */
.icon-lock:before {
  content: "ï€£";
}

/* line 28, ../sass/components/_icons.sass */
.icon-map:before {
  content: "ï";
}

/* line 31, ../sass/components/_icons.sass */
.icon-tags:before {
  content: "ï€¬";
}

/* line 34, ../sass/components/_icons.sass */
.icon-cube:before {
  content: "ï†³";
}

/* line 37, ../sass/components/_icons.sass */
.icon-plane:before {
  content: "ï‡™";
}

/* line 40, ../sass/components/_icons.sass */
.icon-gear:before {
  content: "ï‚…";
}

/* line 43, ../sass/components/_icons.sass */
.icon-globe:before {
  content: "ï‚¬";
}

/* line 46, ../sass/components/_icons.sass */
.icon-users:before {
  content: "ïƒ€";
}

/* line 49, ../sass/components/_icons.sass */
.icon-sign-in:before {
  content: "ï‚";
}

/* line 52, ../sass/components/_icons.sass */
.icon-exchange:before {
  content: "ïƒ¬";
}

/* line 55, ../sass/components/_icons.sass */
.icon-caret-down:before {
  content: "ïƒ—";
}

/* line 58, ../sass/components/_icons.sass */
.icon-shield:before {
  content: "ï„²";
}

/* line 61, ../sass/components/_icons.sass */
.icon-ban:before {
  content: "ïž";
}

@media(max-width: 800px) {
  /* line 2, ../sass/pages/_home.sass */
  h2 {
    font-size: 20px;
    line-height: 26px;
  }

  /* line 6, ../sass/pages/_home.sass */
  h3 {
    font: 300 18px/24px Raleway;
  }

  /* line 10, ../sass/pages/_home.sass */
  main p {
    font: 300 16px/22px Raleway;
    margin: 15px 0;
  }
  /* line 14, ../sass/pages/_home.sass */
  main li {
    font: 300 16px/22px Raleway;
    margin: 15px 0;
  }

  /* line 20, ../sass/pages/_home.sass */
  .footer-links .btn-scrolltop {
    position: static;
    width: auto;
  }
  /* line 24, ../sass/pages/_home.sass */
  .footer-links ul li {
    display: block;
  }
  /* line 26, ../sass/pages/_home.sass */
  .footer-links ul li a {
    display: block;
    font: 600 14px/20px Raleway;
    color: #999;
    padding: 10px;
    text-transform: uppercase;
  }

  /* line 36, ../sass/pages/_home.sass */
  .btn-footer-list a {
    width: 50px;
    height: 50px;
  }
  /* line 39, ../sass/pages/_home.sass */
  .btn-footer-list a:before {
    font: normal 25px/50px fontawesome;
  }
  /* line 43, ../sass/pages/_home.sass */
  .btn-footer-list span {
    width: 50px;
    height: 50px;
  }
  /* line 46, ../sass/pages/_home.sass */
  .btn-footer-list span:before {
    font: normal 25px/50px fontawesome;
  }

  /* line 51, ../sass/pages/_home.sass */
  .home {
    background: #2c3e50 url(../images/bg_home_small.jpg) left top no-repeat;
    background-size: cover;
  }

  /* line 56, ../sass/pages/_home.sass */
  .swiper-controls.prev {
    left: 10px;
  }
  /* line 59, ../sass/pages/_home.sass */
  .swiper-controls.next {
    right: 10px;
  }

  /* line 63, ../sass/pages/_home.sass */
  .swiper-slide-contents {
    float: none;
    width: auto;
    height: auto;
    display: block;
    text-align: center;
    padding: 20px;
  }
  /* line 70, ../sass/pages/_home.sass */
  .swiper-slide-contents:first-child {
    padding-left: 20px;
    width: auto;
  }

  /* line 76, ../sass/pages/_home.sass */
  .swiper-slide p {
    text-align: center;
    padding: 0 20px;
    font: 300 16px/20px Raleway;
  }
  /* line 81, ../sass/pages/_home.sass */
  .swiper-slide img {
    max-height: 400px;
    max-width: 90%;
    margin-bottom: 20px;
  }

  /* line 87, ../sass/pages/_home.sass */
  .footer-logos img {
    vertical-align: middle;
    margin: 10px 20px;
  }

  /* line 91, ../sass/pages/_home.sass */
  .footer-buttons .col-2 {
    margin: 10px 0;
  }
  /* line 93, ../sass/pages/_home.sass */
  .footer-buttons .col-2:first-child {
    border-right: none;
  }
  /* line 96, ../sass/pages/_home.sass */
  .footer-buttons .col-2:last-child {
    border-left: none;
  }

  /* line 100, ../sass/pages/_home.sass */
  .footer-mentions p {
    font-size: 12px;
  }

  /* line 103, ../sass/pages/_home.sass */
  .presentation-nav a {
    font-size: 14px;
    padding: 60px 0 10px;
  }

  /* line 108, ../sass/pages/_home.sass */
  .howitworks article h3 {
    line-height: 15px;
  }
  /* line 110, ../sass/pages/_home.sass */
  .howitworks article h3 .step {
    width: 15px;
    height: 15px;
  }
}
/* line 115, ../sass/pages/_home.sass */
.tag {
  padding: 5px;
  color: #fff;
  background: #73cff4;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
}

/* line 126, ../sass/pages/_home.sass */
.quote {
  position: relative;
  margin-top: 20px;
  border-radius: 3px;
  padding: 0 20px;
}
/* line 132, ../sass/pages/_home.sass */
.quote p {
  display: inline-block;
  font: 500 18px/24px Raleway;
  font-style: italic;
  color: #73cff4;
}
/* line 137, ../sass/pages/_home.sass */
.quote p:before {
  display: inline-block;
  content: "ï„";
  font: normal 14px/14px FontAwesome;
  color: #ccc;
  margin-right: 10px;
}
/* line 144, ../sass/pages/_home.sass */
.quote p:after {
  display: inline-block;
  content: "ï„Ž";
  font: normal 14px/14px FontAwesome;
  color: #ccc;
  margin-left: 10px;
}

/* line 152, ../sass/pages/_home.sass */
.mobile-description-text p {
  margin: 40px 0;
}
/* line 155, ../sass/pages/_home.sass */
.mobile-description-text li {
  position: relative;
  padding-left: 30px;
  margin: 20px 0;
  line-height: 30px;
}
/* line 160, ../sass/pages/_home.sass */
.mobile-description-text li:before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "ï…¸";
  width: 20px;
  height: 10px;
  color: #73cff4;
  font: normal 18px/18px FontAwesome;
}
/* line 171, ../sass/pages/_home.sass */
.mobile-description-text .btn-ghost {
  border: 1px solid #656565;
  color: #656565;
}
/* line 175, ../sass/pages/_home.sass */
.mobile-description-text .quote p {
  margin: 0;
}

/* line 179, ../sass/pages/_home.sass */
.security {
  position: relative;
  z-index: 2;
}

@media(max-width: 1024px) {
  /* line 185, ../sass/pages/_home.sass */
  .center-container {
    padding: 0 20px;
  }

  /* line 188, ../sass/pages/_home.sass */
  .col-2 {
    float: none;
    width: auto;
  }

  /* line 192, ../sass/pages/_home.sass */
  .map-container {
    height: auto;
  }
  /* line 194, ../sass/pages/_home.sass */
  .map-container iframe {
    display: none;
  }

  /* line 197, ../sass/pages/_home.sass */
  .presentation-nav .center-container {
    padding: 0;
  }

  /* line 200, ../sass/pages/_home.sass */
  .swiper-slide p {
    font: 300 22px/28px Raleway;
  }
}
/* line 205, ../sass/pages/_home.sass */
.home-title {
  position: relative;
  display: table;
  vertical-align: middle;
  width: 100%;
  height: 100vh;
  background: #ccc url(../images/bg_welcome.jpg) center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  box-sizing: border-box;
}
/* line 217, ../sass/pages/_home.sass */
.home-title:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
}
/* line 225, ../sass/pages/_home.sass */
.home-title .logo-crous {
  position: absolute;
  top: 70px;
  left: 40px;
  width: auto;
  z-index: 2;
}
/* line 232, ../sass/pages/_home.sass */
.home-title h1 {
  font-size: 36px;
  line-height: 50px;
}
/* line 237, ../sass/pages/_home.sass */
.home-title p {
  font-size: 24px;
  line-height: 36px;
}
/* line 242, ../sass/pages/_home.sass */
.home-title .logo {
  margin: 0;
}

/* line 246, ../sass/pages/_home.sass */
.home-title-container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
  width: 1024px;
  margin: 0 auto;
}

@media(max-width: 640px) {
  /* line 256, ../sass/pages/_home.sass */
  .home-title .logo-crous {
    left: 20px;
  }
  /* line 258, ../sass/pages/_home.sass */
  .home-title .logo-crous img {
    width: 60px;
  }
  /* line 262, ../sass/pages/_home.sass */
  .home-title h1 {
    font-size: 30px;
    line-height: 40px;
  }
  /* line 266, ../sass/pages/_home.sass */
  .home-title p {
    font-size: 20px;
    line-height: 30px;
  }

  /* line 271, ../sass/pages/_home.sass */
  .home-title-container .logo img {
    width: 100px;
  }

  /* line 275, ../sass/pages/_home.sass */
  .howitworks .article-image .screen:first-child {
    right: 50%;
    margin-right: -60px;
  }
  /* line 279, ../sass/pages/_home.sass */
  .howitworks .article-image .screen:last-child {
    left: 50%;
    margin-left: -60px;
  }
}
/* line 284, ../sass/pages/_home.sass */
.short-description {
  text-align: center;
}
/* line 286, ../sass/pages/_home.sass */
.short-description .col-3 {
  text-align: center;
}

/* line 289, ../sass/pages/_home.sass */
.short-description-item {
  display: inline-block;
  padding: 40px 0;
  max-width: 300px;
}
/* line 293, ../sass/pages/_home.sass */
.short-description-item h2 {
  margin-bottom: 20px;
}

/* line 297, ../sass/pages/_home.sass */
.mobile-description {
  padding: 0;
  position: relative;
  top: -94px;
  z-index: 2;
  height: 800px;
  padding-bottom: 159px;
  margin-bottom: -159px;
  box-sizing: border-box;
}

/* line 308, ../sass/pages/_home.sass */
.presentation-nav {
  overflow: hidden;
  background: url(../images/bg_black_transparent.png) 0 0 repeat;
}
/* line 312, ../sass/pages/_home.sass */
.presentation-nav a {
  display: block;
  float: left;
  width: 20%;
  padding: 60px 20px 10px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.6;
  transition: opacity 0.5s;
}
/* line 330, ../sass/pages/_home.sass */
.presentation-nav a:hover {
  opacity: 1;
}
/* line 333, ../sass/pages/_home.sass */
.presentation-nav a.active {
  opacity: 1;
}
@media (max-width: 600px) {
  /* line 336, ../sass/pages/_home.sass */
  .presentation-nav a span {
    display: none;
  }
}
/* line 341, ../sass/pages/_home.sass */
.presentation-nav .icon-top:before {
  color: #fff;
  font-size: 30px;
  line-height: 30px;
}

/* line 347, ../sass/pages/_home.sass */
.mobile-demo {
  position: relative;
  display: inline-block;
  background: url(../images/iphone.png) left top no-repeat;
  width: 318px;
  height: 660px;
}

/* line 354, ../sass/pages/_home.sass */
.mobile-screen {
  position: absolute;
  width: 283px;
  height: 500px;
  top: 80px;
  left: 18px;
  border-radius: 3px;
  background: #73cff4;
}

/* line 364, ../sass/pages/_home.sass */
.map-container {
  position: relative;
  width: 100%;
  height: 570px;
}

/* line 369, ../sass/pages/_home.sass */
.map-description {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  max-width: 780px;
  margin-left: -390px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  /* line 369, ../sass/pages/_home.sass */
  .map-description {
    position: static;
    margin-left: 0;
    padding: 20px;
    background: #fff;
  }
}
/* line 388, ../sass/pages/_home.sass */
.map-description .btn-ghost {
  color: #656565;
  border-color: #656565;
}

/* line 392, ../sass/pages/_home.sass */
button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  background: #73cff4;
  color: #fff;
  font: 500 18px/24px Raleway;
  border: none;
  text-transform: uppercase;
  border-radius: 0 3px 3px 0;
}

/* line 406, ../sass/pages/_home.sass */
hr {
  margin: 40px 0;
  height: 1px;
  border: none;
  border-bottom: 1px solid #eee;
}

/* line 412, ../sass/pages/_home.sass */
.showcase-item {
  position: relative;
  height: 500px;
  display: table;
  background: #4295cd;
}
/* line 417, ../sass/pages/_home.sass */
.showcase-item:first-child {
  background: #4fd1f5;
}
/* line 420, ../sass/pages/_home.sass */
.showcase-item:last-child {
  background: #ff8549;
}
/* line 423, ../sass/pages/_home.sass */
.showcase-item h3 {
  color: #fff;
  font-weight: 600;
}
/* line 427, ../sass/pages/_home.sass */
.showcase-item li {
  color: #fff;
  text-align: left;
}
/* line 431, ../sass/pages/_home.sass */
.showcase-item p {
  color: #fff;
  text-align: left;
}
/* line 436, ../sass/pages/_home.sass */
.showcase-item:hover .showcase-item-description {
  display: table-cell;
}
/* line 439, ../sass/pages/_home.sass */
.showcase-item:hover .showcase-item-title {
  display: none;
}

/* line 444, ../sass/pages/_home.sass */
.showcase-item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 451, ../sass/pages/_home.sass */
.showcase-item-image img {
  min-width: 100%;
  min-height: 100%;
  filter: grayscale(1) contrast(1) blur(5px);
  opacity: 0.3;
}

/* line 461, ../sass/pages/_home.sass */
.showcase-item-description {
  display: none;
}

/* line 465, ../sass/pages/_home.sass */
.howitworks {
  position: relative;
  z-index: 2;
  background: #f1f1f1;
  padding-bottom: 10px;
}
/* line 471, ../sass/pages/_home.sass */
.howitworks h2 {
  text-align: center;
  background: #73cff4;
  color: #fff;
  padding: 20px 0;
  margin: 0;
}
/* line 478, ../sass/pages/_home.sass */
.howitworks .howitworks-list {
  position: relative;
}
/* line 481, ../sass/pages/_home.sass */
.howitworks .howitworks-list:before {
  content: " ";
  position: absolute;
  top: 70px;
  left: 25px;
  bottom: 0;
  width: 4px;
  background: #e1e1e1;
  margin-left: -2px;
  z-index: 1;
}
@media (max-width: 1024px) {
  /* line 481, ../sass/pages/_home.sass */
  .howitworks .howitworks-list:before {
    left: 45px;
  }
}
@media (max-width: 600px) {
  /* line 481, ../sass/pages/_home.sass */
  .howitworks .howitworks-list:before {
    display: none;
  }
}
/* line 498, ../sass/pages/_home.sass */
.howitworks .howitworks-list:after {
  content: "ïƒ—";
  position: absolute;
  bottom: 0;
  left: 12px;
  text-align: center;
  font: normal 45px/10px FontAwesome;
  color: #e1e1e1;
}
/* line 507, ../sass/pages/_home.sass */
.howitworks .article-container {
  position: relative;
  padding-left: 40px;
}
@media (max-width: 600px) {
  /* line 507, ../sass/pages/_home.sass */
  .howitworks .article-container {
    padding-left: 0;
  }
}
/* line 514, ../sass/pages/_home.sass */
.howitworks article {
  position: relative;
  z-index: 2;
  margin: 80px 60px;
  box-shadow: 5px 5px 0 #eee;
  background: #fff;
}
@media (max-width: 600px) {
  /* line 514, ../sass/pages/_home.sass */
  .howitworks article {
    margin: 20px 0;
    padding-top: 110%;
  }
}
/* line 525, ../sass/pages/_home.sass */
.howitworks article:after {
  clear: both;
  content: " ";
  display: table;
}
/* line 531, ../sass/pages/_home.sass */
.howitworks article:first-child:before {
  display: none;
}
/* line 534, ../sass/pages/_home.sass */
.howitworks article:hover {
  opacity: 1;
}
/* line 537, ../sass/pages/_home.sass */
.howitworks article .article-contents {
  background: #fff;
  padding: 20px 40px;
}
/* line 541, ../sass/pages/_home.sass */
.howitworks article .article-contents img {
  max-width: 100%;
}
@media (max-width: 600px) {
  /* line 537, ../sass/pages/_home.sass */
  .howitworks article .article-contents {
    padding: 20px;
  }
}
/* line 547, ../sass/pages/_home.sass */
.howitworks article .article-contents p {
  text-align: justify;
}
/* line 550, ../sass/pages/_home.sass */
.howitworks article .article-contents p.align-center {
  text-align: center;
}
/* line 553, ../sass/pages/_home.sass */
.howitworks article .article-image {
  position: relative;
  text-align: center;
  float: right;
  padding: 40px 0;
  width: 500px;
  max-width: 100%;
  height: 445px;
  margin-left: 20px;
  white-space: nowrap;
}
@media (max-width: 600px) {
  /* line 553, ../sass/pages/_home.sass */
  .howitworks article .article-image {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }
}
/* line 571, ../sass/pages/_home.sass */
.howitworks article h3 {
  text-align: left;
  line-height: 30px;
  padding: 80px 40px 0;
  font-weight: bold;
  margin: 0;
}
@media (max-width: 1024px) {
  /* line 571, ../sass/pages/_home.sass */
  .howitworks article h3 {
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }
}
/* line 585, ../sass/pages/_home.sass */
.howitworks .step {
  display: block;
  position: absolute;
  top: 67px;
  left: 0;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  z-index: 20;
  font-weight: bold;
  line-height: 30px;
  background: #73cff4;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}
@media (max-width: 600px) {
  /* line 585, ../sass/pages/_home.sass */
  .howitworks .step {
    top: -15px;
    left: -15px;
  }
}
/* line 610, ../sass/pages/_home.sass */
.howitworks .col-2:nth-child(2) article {
  margin-top: 250px;
}
@media (max-width: 600px) {
  /* line 610, ../sass/pages/_home.sass */
  .howitworks .col-2:nth-child(2) article {
    margin-top: 20px;
  }
}
/* line 616, ../sass/pages/_home.sass */
.howitworks .col-2:nth-child(3) article {
  margin-top: 0;
}
/* line 620, ../sass/pages/_home.sass */
.howitworks .article-image .screen {
  position: absolute;
  box-shadow: 0 0 10px #ccc;
  width: 40%;
  transition: all 300ms linear;
  opacity: 0.6;
  margin-top: 50px;
  left: 50%;
  margin-left: -25px;
  cursor: zoom-in;
}
/* line 632, ../sass/pages/_home.sass */
.howitworks .article-image .screen:hover {
  opacity: 1;
  z-index: 3;
}
/* line 636, ../sass/pages/_home.sass */
.howitworks .article-image .screen:first-child {
  right: 50%;
  margin-right: -25px;
  left: auto;
  margin-left: 0;
}
/* line 642, ../sass/pages/_home.sass */
.howitworks .article-image .screen:last-child {
  left: 50%;
  margin-left: -25px;
}
/* line 646, ../sass/pages/_home.sass */
.howitworks .article-image .screen.big {
  width: 50%;
  z-index: 2;
  opacity: 1;
  margin-top: 0;
  cursor: default;
}

/* line 654, ../sass/pages/_home.sass */
.landing-title-container {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 1;
  width: 100%;
}

/* line 661, ../sass/pages/_home.sass */
.landing-contents {
  padding: 60px;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 5px #333;
}
/* line 670, ../sass/pages/_home.sass */
.landing-contents p {
  display: block;
  color: #656565;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  text-transform: none;
}
/* line 678, ../sass/pages/_home.sass */
.landing-contents h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  text-align: center;
  max-width: 400px;
  margin: 0 auto 40px;
}

/* line 685, ../sass/pages/_home.sass */
.hidden {
  display: none;
}

/* line 3, ../sass/pages/_security.sass */
.section-security .center-container {
  padding: 20px 0 20px 200px;
}
@media (max-width: 600px) {
  /* line 3, ../sass/pages/_security.sass */
  .section-security .center-container {
    padding: 160px 20px 20px 20px;
  }
}
/* line 9, ../sass/pages/_security.sass */
.section-security .section-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background: #ccc;
  color: #fff;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-weight: bold;
  border: 4px solid #eaf7fc;
  z-index: 2;
}
@media (max-width: 600px) {
  /* line 9, ../sass/pages/_security.sass */
  .section-security .section-logo {
    left: 50%;
    margin-left: -75px;
  }
}
/* line 27, ../sass/pages/_security.sass */
.section-security .section-logo.logo-blue {
  background: #eaf7fc;
  color: #73cff4;
  border: 4px solid #eee;
}
/* line 32, ../sass/pages/_security.sass */
.section-security .section-logo p {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
/* line 39, ../sass/pages/_security.sass */
.section-security .section-logo .icon {
  position: relative;
  display: block;
  height: 90px;
}
/* line 44, ../sass/pages/_security.sass */
.section-security .section-logo .icon:before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  margin-left: -30px;
  text-align: center;
  font: normal 62px/62px FontAwesome;
}

/* line 54, ../sass/pages/_security.sass */
.vertical-breadcrump {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 76px;
  width: 1px;
  border-left: 1px dashed #ccc;
}
@media (max-width: 600px) {
  /* line 54, ../sass/pages/_security.sass */
  .vertical-breadcrump {
    display: none;
  }
}
/* line 65, ../sass/pages/_security.sass */
.vertical-breadcrump .vertical-breadcrump-end {
  position: absolute;
  bottom: -15px;
  left: -9px;
  width: 17px;
  color: #ccc;
}
/* line 72, ../sass/pages/_security.sass */
.vertical-breadcrump .vertical-breadcrump-end:before {
  font: normal 30px/20px FontAwesome;
}
a.know-more-link{
  text-decoration: underline;
    color: black;
}

.personal-data-information-container{
  margin-top: 2em;
}

.personal-data-information-container p, .personal-data-information-container span, .personal-data-information-container td, .personal-data-information-container th{
  font-family: normal;
  font-size: 100%;
}

.personal-data-information-container table{
  width: 100%;
  border-collapse: collapse;
}

.personal-data-information-container th{
  background: #A6A6A6;
  color: black;
}
.personal-data-information-container td, .personal-data-information-container th{
  padding: 5px;
  width: 33%;
  border: solid windowtext 1.0pt
}
.personal-data-information-container .text-justify{
  text-align: justify;
}

.personal-data-information-container td > p, .personal-data-information-container th > p{
  margin: 0;
}

.footer_link_lists > li{
  display: inline;
}

.footer_link_lists > li a{
  color: #535353;
}

.footer_link_lists > li.last::after{
  content:"";
}

.footer_link_lists > li::after{
  content:" |";
}

.footer_link_lists{
  max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 10px 0;
}

.footer_links{
  background: #f9f9f9;
}